{% load static %}
<div class="container-fluid  fixed-bottom" style="background:#CCD9B0;color: #f2f2f2">
{#    <div class="row">#}
{#        <div class="col">#}
{#            <img src="{% static 'cropped-28175676_1851828131572394_1664231000_n-2.png' %}" class="img-fluid">#}
{#        </div>#}
{#        <div class="col-lg">#}
{#            <h5 class="pb-3"> INFORMATION</h5>#}
{##}
{#            <p>About Us</p>#}
{#            <p>Shop</p>#}
{#            <p> Blog</p>#}
{#            <p> Contact</p>#}
{#            <p> Terms & Condition</p>#}
{#        </div>#}
{#        <div class="col-lg">#}
{#            <h5 class="pb-3">USEFUL LINKS</h5>#}
{##}
{#            <p>Return & Exchange</p>#}
{#            <p> Privacy Policy</p>#}
{#            <p> Shipping policy</p>#}
{#            <p> Cancellation</p>#}
{#            <p> Return Policy</p>#}
{#        </div>#}
{#        <div class="col-lg">#}
{#            <h5 class="pb-3"> ABOUT THE STORE</h5>#}
{##}
{#            <p>1030 Janatanagar, Chandkheda, Ahmedabad – 382424#}
{#                Phone: +91-7405621393</p>#}
{#        </div>#}
{#    </div>#}
    <hr style="color: #f2f2f2;">
    <p class="text-center" style="color: black">© {% now 'Y' %}  Guru Krupa All rights reserved</p>

</div>